body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    /* Add bottom padding to the body to create space below the 'Show More' button */
    padding: 0 0 50px 0; /* Adjust the 50px to whatever amount of padding you desire */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

nav {
    width: 100%;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

.content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}

.youtube-container {
    position: relative;
    width: 95%; /* Adjusted width to 95% on mobile */
    padding-bottom: calc(95% * (16 / 9)); /* Adjusted aspect ratio for 9:16 vertical video */
    overflow: auto; /* changed from hidden to auto */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; /* These two margin settings center the video */
    margin-right: auto; /* horizontally on the page */
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    pointer-events: none; /* This will allow the page to be scrollable */
}

.show-more-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-top: 20px;
}

@media only screen and (min-width: 601px) {
    .content {
        height: auto;
        justify-content: flex-start;
    }

    .youtube-container {
        width: 35%; /* Adjusted width to 35% of the screen width on larger screens */
        padding-bottom: calc(35% * (16 / 9)); /* Adjusted aspect ratio for 9:16 vertical video */
        height: 0; /* Height is controlled by padding */
        margin-left: auto; /* Center the container */
        margin-right: auto; /* Center the container */
    }

    .show-more-button {
        width: 150px; /* Larger diameter for larger screens */
        height: 150px;
        font-size: 1.5em;
        margin-top: 30px; /* Increased space from the video above */
    }
}
